<div class="post color_one">
    <div class="post_info">
        <div class="post_title">BottleBlog Installation</div>
    </div><br />
    <div class="post_html">
        <form method="post" action="/install">
            <p>
                Please create an account.<br />
                Username: <input type="text" name="username" /><br />
                Password: <input type="password" name="password" /><br />
            </p>
            <input type="submit" value="Install" />
        </form>
    </div>
</div>